DB_URL=jdbc:mysql://localhost:3306/ssok?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul&useUnicode=true&characterEncoding=UTF-8&connectionCollation=utf8mb4_unicode_ci
DB_USERNAME=root
DB_PASSWORD=your_password

JWT_SECRET=your_base64_encoded_secret
JWT_ACCESS_EXPIRATION=3600000
JWT_REFRESH_EXPIRATION=604800000
